
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
<style>
    body{
        background-color: #145DA0;
    }
    .varify{
        margin-top: 5rem;
        margin-left: 8rem;
      
        background-color: aliceblue;
        height: 35rem;
    }
    .responsive {
  max-width: 100%;
  height: auto;
  margin-left:27rem; 
  margin-top: 3rem; 
  height:200px;
}
</style>
</head>

<body bgcolor="#145DA0">


    <div class="container my-5 varify" >

      <img src="./images/reviews/varu.png"    class="responsive">
      <h1 align="center" class="my-3">Varify your email address</h3>
        <p align="center" class="my-5" style="font-size:20px;">Check your inbox at <b>  <%= fnm %> </b>  and
             click the verification link inside to complete your registration.<br>
              This link will expire shortly, so verify soon!</h2></p>
             <h4 class="my-5" align="center">Link expired?<a href="#" > Resend verification email</a></h6>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>


</html>