
<body bgcolor="rgb(208, 216, 243)">


<head>
    <style>
        body{
            background-color: rgb(172, 170, 250);
        }
        #hocon {
            background-color: rgb(255, 255, 255);
            height: 30rem;
            width: 45rem;
            border-radius: 12px;
            margin-top: 5rem;
            margin-left: 20rem;
            align-items: center;
        }

        h1 {
           
        }
        .thank{
            
            color:black;
             font-size:2rem;
         

           

        }
    </style>
</head>

<div class="container my-4" id="hocon">
    
    
   <div style="color: white;" >r
</div>
    <div class="thank my-5" align="center"  ><h1>
        Thank you
    </h1>

    
    <div align="center">
        <img src='/reguserimg/greentick.png' style="border-radius: 50%; height: 10rem; width: 10rem;">
        <h3 style="color:green;" align="center" class="my-2"> VOTE SUUCCESSFULLY </h5>
       
    </div>

</div>
</div>





</div>
</body>
<script>
function pageRedirect(){
 var delay = 1000; // time in milliseconds


 setTimeout(function(){
  window.location = "home";
 },delay);
 
}

pageRedirect()
</script>